<!DOCTYPE html>
<html lang="es-es">
<head>
    <title>{% block titulo %}CyM{% endblock %}</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="favicon.ico" />

    <link href="{{ asset('style/style.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('style/cabecera.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('style/index.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('style/miSlider.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('style/registro.css')}}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="{{ asset('scripts/jquery-2.1.3.min.js')}}"></script>
    <script src="{{ asset('scripts/three.min.js')}}"></script>
    <script src="{{ asset('scripts/CanvasRenderer.js')}}"></script>
    <script src="{{ asset('scripts/Projector.js')}}"></script>
    <script src="{{ asset('scripts/miSlider.js')}}"></script>
    <script src="{{ asset('scripts/cora3d.js')}}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% if app.user != "" %}
    <script src="{{ asset('scripts/registroPopUp.js')}}"></script>
    {% endif %}

    {% block scripts %}{% endblock %}
</head>
<body>
    <!-- PopUp Registro -->
    <div id="registroPopUp" class="modal">
        <!-- Registro contenido -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <!--<form name="registroForm" method="post" action="/register" enctype="application/x-www-form-urlencoded">
                
                <label for="nombreU">Nombre</label>
                <input type="text" name="sonata_user_registration_form[username]" id="nombreU" value="" required />
                <br /><br />
                <label for="email">Email</label>
                <input type="email" name="sonata_user_registration_form[email]" id="email" value="" required />
                <br /><br />
                <label for="clave">Clave</label>
                <input type="password" name="sonata_user_registration_form[plainPassword][first]" id="clave" value="" required />
                <br /><br />
                <label for="rep">Repetir clave</label>
                <input type="password" name="sonata_user_registration_form[plainPassword][second]" id="rep" value="" required />
                <br /><br />
                <input class="enviar" type="submit" name="enviarRegistro" value="Enviar" />
            </form>-->

            <form action="/register/"  method="POST" class="fos_user_registration_register form-horizontal">
				<h1>Crea tu cuenta</h1><br>
				<div id="sonata_user_registration_form">
					<div><label for="sonata_user_registration_form_username" class="required">Nombre</label><input type="text" id="sonata_user_registration_form_username" name="sonata_user_registration_form[username]" required="required" maxlength="255" pattern=".{2,}" /></div>
					<div><label for="sonata_user_registration_form_email" class="required">Email</label><input type="email" id="sonata_user_registration_form_email" name="sonata_user_registration_form[email]" required="required" /></div>
					<div><label for="sonata_user_registration_form_plainPassword_first" class="required">Contraseña</label><input type="password" id="sonata_user_registration_form_plainPassword_first" name="sonata_user_registration_form[plainPassword][first]" required="required" /></div>
					<div><label for="sonata_user_registration_form_plainPassword_second" class="required">Confirmar contraseña</label><input type="password" id="sonata_user_registration_form_plainPassword_second" name="sonata_user_registration_form[plainPassword][second]" required="required" /></div>
					<input type="hidden" id="sonata_user_registration_form__token" name="sonata_user_registration_form[_token]" value="uLUttCCxWJicSB0p989WqyYYhAwxBncqTn__enxoO4k" />
				</div>
				<div class="form-actions">
					<input type="submit" value="Registrar" class="btn btn-success pull-right" />
				</div>
			</form>
        </div>
    </div>
    <header>
        <!--Menu secundario-->
        <div id="menuSec">
            <div id="menuSec1">
                <a href="{{ path('portada', { _locale: 'es' }) }}"><img src="{{ asset('svg/bandera1.svg')}}" alt="español" class="bandera"></a>
                <a href="{{ path('portada', { _locale: 'en' }) }}"><img src="{{ asset('svg/bandera2.png')}}" alt="español" class="bandera"></a>
            </div>
            <div id="menuSec2"><!-- En blanco --></div>
            <div id="menuSec3">
                
				{% if app.user == "" %}
				    <label id="registro">Crear cuenta</label>
				{% else %}
				    <a href="../logout" id="logout">Cerrar sesion</a>
				{% endif %}
            </div>
        </div>
        <!-- Cabecera-->
        <div id="cabecera">
            <div id="logo">
				<object id="logoImg" data="{{ asset('svg/logo.svg')}}" type="image/svg+xml">
					<img id="logoImg" src="{{ asset('svg/logo.svg')}}">
				</object>
            </div>
            <div id="login">
                <!--<form name="logi" method="post" action="index.html" enctype="application/x-www-form-urlencoded">
                    <input type="text" name="nombre" id="nombre" value="" placeholder="Nombre de usuario" required /><br>
                    <input type="password" name="clave" id="clave" value="" placeholder="Contraseña" required /><br>
                    <input class="enviar" type="submit" name="enviarLogin" value="" />
                </form>-->
                {% if app.user == "" %}
				    <form action="/login_check" method="post" role="form" class="form-horizontal">
						<input type="hidden" name="_csrf_token" value="yDjhWvqSa6RJXv1qlGTTg30qp7WtVhCvfConwiv960Q"/>
						<input type="text" class="form-control" id="username" name="_username" value="" placeholder="Nombre de usuario" required="required"/>
						<input type="password" class="form-control" id="password" name="_password" placeholder="Contraseña" required="required"/>
						<input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="Entrar"/>
					</form>
				{% endif %}

            </div>
        </div>
        <div id="linea" />
        <!-- menu -->
        <nav>
            <a href="#" id="ico1"></a>
            <a href="#" id="ico2"></a>
            <a href="#" id="ico3"></a>
            <a href="#" id="ico4"></a>
        </nav>
    </header>
    <main>
    	{% block main %}

        {% endblock %}
    </main>
    <footer>
        <section><h2>Contacto</h2>983 00 00 00<br>noexiste@cuerpoymente.net</section>
        <section><h2>Nuestra empresa</h2>Cuerpo y Mente S.L. es una empresa ficticia creada como proyecto de DAM</section>
        <section><h2>Nuestro servicio</h2>Yo no me fiaría mucho de nuestro servicio</section>
        <section><br><h2>COPYLEFT <img src="{{ asset('svg/copyleft.png')}}"></h2>Manuel Antón  Vicente 2017</section>
    </footer>
</body>
</html>