{% extends 'base.html.twig' %}
{% block titulo %}Entrenamiento - CyM{% endblock %}
{% block scripts %}
<link href="{{ asset('style/ejercicio.css')}}" rel="stylesheet" type="text/css" />
{% if ejercicio.tipo.id == 1 %}
    <script type="text/javascript" src="{{ asset('juegos/'~ ejercicio.ruta ~ '/dibujado.js')}}"></script>
    <script type="text/javascript" src="{{ asset('juegos/'~ ejercicio.ruta ~ '/objetos.js')}}"></script>
    <script type="text/javascript" src="{{ asset('juegos/'~ ejercicio.ruta ~ '/principal.js')}}"></script>
    <script type="text/javascript" src="{{ asset('juegos/'~ ejercicio.ruta ~ '/utiles.js')}}"></script>
	<script>
		// window.onload = inicio;
		// function inicio(){
		// 	loadGame();
		// }
		$( document ).ready(function() {
			loadGame();
		});
	</script>
{% endif %}
<script src="{{ asset('scripts/Chart.js')}}"></script>
<script>
var radarChartData = {
    {% if ejercicio.seccion.id == 1 %}
	    labels: ["Fuerza", "Velocidad", "Resistencia", "Flexibilidad", "Coordinación"],
	{% else %}
		labels: ["Ejecución", "Atención", "Memoria", "Percepción", "Relajación"],
	{% endif %}

    datasets: [/*{
            label: "Máximo",
            fillColor: "rgba(120,200,0,0.01)",
            strokeColor: "rgba(120,200,0,1)",
            pointColor: "rgba(120,200,0,0)",
            pointStrokeColor: "rgba(120,200,0,0)",
            pointHighlightFill: "rgba(120,200,0,0)",
            pointHighlightStroke: "rgba(120,200,0,0)",
            data: [10, 10, 10, 10, 10]
        },*/
        {
            label: "Capacidades entrenadas",
            fillColor: "rgba(185,132,206,0.4)",
            strokeColor: "rgba(56,3,57,1)",
            pointColor: "rgba(56,3,57,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(56,3,57,1)",

            {% if ejercicio.seccion.id == 1 %}
			    data: [
			    	{{ ejercicio.fuerza }}, 
			    	{{ ejercicio.velocidad }}, 
			    	{{ ejercicio.resistencia }}, 
			    	{{ ejercicio.flexibilidad }}, 
			    	{{ ejercicio.coordinacion }}
			    ]
			{% else %}
            	data: [
			    	{{ ejercicio.ejecucion }}, 
			    	{{ ejercicio.atencion }}, 
			    	{{ ejercicio.memoria }}, 
			    	{{ ejercicio.percepcionyrapidez }}, 
			    	{{ ejercicio.relajacion }}
			    ]
			{% endif %}
        }
    ]
};

window.onload = function() {
    window.myRadar = new Chart(document.getElementById("canvasGrafica").getContext("2d")).Radar(radarChartData, {
        responsive: false
    });
}
</script>
{% endblock %}

{% block main %}
<h1>{{ ejercicio.nombre }}</h1>
<div class="container-fluid">
	<div class="col-lg-5">	
		<h2>Cómo se realiza</h2>
		<p>{{ ejercicio.descripcion }}</p>
		<h2>Para qué sirve</h2>
		<p>{{ ejercicio.beneficios }}</p>
		<canvas id="canvasGrafica" width="300" height="300">Su navegador no soporta canvas</canvas>
	</div>
	<div class="col-lg-7">	
		<h2>Realizar</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>
		{% if ejercicio.tipo.id == 2 %}
		    <iframe src="https://www.youtube.com/embed/{{ ejercicio.ruta }}"></iframe>
		    <a class="botonRealizar" href="/?id={{ ejercicio.id }}&puntuacion=1">He realizado este ejercicio</a>
		{% else %}
        	<canvas id="canvas">Su navegador no soporta canvas</canvas>
		{% endif %}
		
	</div>
</div>
{% endblock %}