{% extends 'index.html.twig' %}
{% block titulo %}{{ficha.titulo}}{% endblock %}
{% block contenido %}
    <h2>{{ficha.titulo}}</h2>
    <table id='tablaVista'>
        <tr><td colspan='2'><a class='boton' href="{{ path('editar', {idFicha:ficha.id}) }}">Editar</a></td></tr>
        <tr><td colspan='2'></td></tr>
        <tr><td>Calle</td><td id='tdcalle'>{{ficha.calle}}</td></tr>
        <tr><td>Código Postal</td><td id='tdcp'>{{ficha.codigoPostal}}</td></tr>
        <tr><td>Ciudad</td><td id='tdciudad'>{{ficha.ciudad}}</td></tr>
        <tr><td>Provincia</td><td id='tdprovincia'>{{ficha.provincia}}</td></tr>
        <tr><td>Descripción</td><td id='tddescripcion'>{{ficha.descripcion}}</td></tr>
        <tr><td>Tipo de ficha</td><td id='tdtipo'>{{ficha.tipoFicha}}</td></tr>
        {% if ficha.tipoFicha == "1ficha_avanzada" or ficha.tipoFicha == "0ficha_minisite" %}
            <h2>otros datos</h2>
        {% endif %}
    </table>
{% endblock %}

            

