{% extends 'base.html.twig' %}
{% block titulo %}Inicio - CyM{% endblock %}
{% block scripts %}
<link href="{{ asset('style/index.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block main %}
<!-- SLIDER -->
<section id="sliderSection">
    <div id="slider">
        <div id="contenidoSl">
            <div id="banner1">
                <br><br>
                <blockquote>
                    <p>El verdadero gozo viene de la actividad de la mente y el ejercicio del cuerpo, los dos van unidos.</p>
                    <small>Frase célebre de <cite title="Nombre Apellidos">Alexander von Humboldt</cite></small>
                </blockquote>
            </div>
            <div id="banner2">
                <img src="{{ asset('svg/sl2.svg')}}" id="sl2">
            </div>
            <div id="banner3">
                <br><br>
                <blockquote>
                    <p>El verdadero gozo viene de la actividad de la mente y el ejercicio del cuerpo, los dos van unidos.</p>
                    <small>Frase célebre de <cite title="Nombre Apellidos">Alexander von Humboldt</cite></small>
                </blockquote>
            </div>
            <div id="banner4">
                <img src="{{ asset('svg/sl2.svg')}}" id="sl2">
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <section id="top10" class="contenedor">
                <h1>Top10</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Top</th>
                            <th>Usuario</th>
                            <th>Puntuación</th>
                        </tr>
                    </thead>
                    {% set contador = 1 %} 
                    {% for nombre, puntuacion in top10 %}
                        <tr>
                            <td>#{{contador}}</td>
                            <td>{{nombre}}</td>
                            <td>{{puntuacion}}</td>
                        </tr>
                        {% set contador = contador + 1 %}
                    {% endfor %}
                </table>
            </section>
        </div>
        <div class="col-lg-9">
            {% if app.user == "" %} 
            <section id="quees">
                <h1>¿Qué es Cuerpo y Mente?</h1>
                <p>
                    Cuerpo y Mente es la plataforma web que te ayuda a poner tu cuerpo y tu cerebro en
                    forma mediante el entrenamiento cerebral, el control del estrés y el ejercicio físico.
                </p>
                <img src="http://lorempixel.com/350/170/nature/4/" width="100" height="100">
                <a href="/register">REGÍSTRATE AHORA</a>
                <div class="clear"/><br>
                <p>Consulta tu gráfica de progreso y mejora de una forma equilibrada tus capacidades físicas y mentales.</p>
            </section>
            {% else %}
            <section id="perfil" class="container-fluid">
                <div class="col-sm-2">
                    <h1>{{app.user}}</h1>
                    <img src="http://lorempixel.com/100/100/people/" width="100" height="100">
                    <p>Registro: <br><label>29/03/2017</label></p>
                    <p>Entrenamientos: <br><label>{{ numEjercicios }}</label></p>
                    <div class="area-capacidad">
                        <span class="area">Puntuación</span> <span class="puntuacion">{{ total }}</span>
                        <div class="progress">
                            <div class="bar" style="width: {{ porcentajeTotal }}%;"></div>
                        </div>
                    </div>
                    <h3>¡Por encima del <span>{{ porcentajeTotal }}%</span> de los usuarios!</h3>
                </div>
                <div class="col-sm-5">
                    <h2>Capacidades mentales</h2>
                    <div class="area-capacidad">
                        <span class="area">Funciones ejecutivas</span> <span class="puntuacion">{{ ejecucion }}</span>
                        <div class="progress">
                            <div class="bar" style="width: {{ porcentajeEjecucion }}%;"></div>
                        </div>
                    </div>
                    <div class="area-capacidad">
                        <span class="area">Antención</span> <span class="puntuacion">{{ atencion }}</span>
                        <div class="progress">
                            <div class="bar" style="width: {{ porcentajeAtencion }}%;"></div>
                        </div>
                    </div>
                    <div class="area-capacidad">
                        <span class="area">Memoria</span> <span class="puntuacion">{{ memoria }}</span>
                        <div class="progress">
                            <div class="bar" style="width: {{ porcentajeMemoria }}%;"></div>
                        </div>
                    </div>
                    <div class="area-capacidad">
                        <span class="area">Percepción y rapidez</span> <span class="puntuacion">{{ percepcion }}</span>
                        <div class="progress">
                            <div class="bar" style="width: {{ porcentajePercepcion }}%;"></div>
                        </div>
                    </div>
                    <div class="area-capacidad">
                        <span class="area">Relajación</span> <span class="puntuacion">{{ relajacion }}</span>
                        <div class="progress">
                            <div class="bar" style="width: {{ porcentajeRelajacion }}%;"></div>
                        </div>
                    </div>
                    <!-- <canvas id="canvasCM" height="300" width="300"></canvas> -->
                </div>
                <div class="col-sm-5">
                    <h2>Capacidades físicas</h2>
                    <div class="area-capacidad">
                        <span class="area">Fuerza</span> <span class="puntuacion">{{ fuerza }}</span>
                        <div class="progress">
                            <div class="bar" style="width: {{ porcentajeFuerza }}%;"></div>
                        </div>
                    </div>
                    <div class="area-capacidad">
                        <span class="area">Resistencia</span> <span class="puntuacion">{{ resistencia }}</span>
                        <div class="progress">
                            <div class="bar" style="width: {{ porcentajeResistencia }}%;"></div>
                        </div>
                    </div>
                    <div class="area-capacidad">
                        <span class="area">Velocidad</span> <span class="puntuacion">{{ velocidad }}</span>
                        <div class="progress">
                            <div class="bar" style="width: {{ porcentajeVelocidad }}%;"></div>
                        </div>
                    </div>
                    <div class="area-capacidad">
                        <span class="area">Coordinación</span> <span class="puntuacion">{{ coordinacion }}</span>
                        <div class="progress">
                            <div class="bar" style="width: {{ porcentajeCoordinacion }}%;"></div>
                        </div>
                    </div>
                    <div class="area-capacidad">
                        <span class="area">Flexibilidad</span> <span class="puntuacion">{{ flexibilidad }}</span>
                        <div class="progress">
                            <div class="bar" style="width: {{ porcentajeFlexibilidad }}%;"></div>
                        </div>
                    </div>
                </div>
            </section>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <section class="">
                <h1>Elige un programa de entrenamiento</h1>
                <br>
                <div class="programa">
                    <div class="textIzq">
                        <h2>Programa básico</h2>
                        <p><img src="{{ asset('svg/check.svg')}}" class="icon">Para cualquier usuarios<br><img src="{{ asset('svg/check.svg')}}" class="icon">Mejora tu físico<br><img src="{{ asset('svg/check.svg')}}" class="icon">Gana agilidad mental<br></p>
                    </div>
                    <img src="http://lorempixel.com/350/170/sports/1" class="imgDer">
                </div>
                <div class="programa">
                    <div class="textDer">
                        <h2>Infantil</h2>
                        <p><img src="{{ asset('svg/check.svg')}}" class="icon">De 3 a 6 años<br>
                        <img src="{{ asset('svg/check.svg')}}" class="icon">Mejora el potencial de los niños<br>
                        <img src="{{ asset('svg/check.svg')}}" class="icon">Fortalece huesos y músculos<br></p>
                    </div>
                    <img src="http://lorempixel.com/350/170/sports/2" class="imgIzq">
                </div>
                <div class="programa">
                    <div class="textIzq">
                        <h2>Programa 30'</h2>
                        <p><img src="{{ asset('svg/check.svg')}}" class="icon">Para personas con poco tiempo<br>
                        <img src="{{ asset('svg/check.svg')}}" class="icon">30 minutos diarios<br>
                        <img src="{{ asset('svg/check.svg')}}" class="icon">Mejoras notables<br></p>
                    </div>
                    <img src="http://lorempixel.com/350/170/sports/3" class="imgDer">
                </div>
                <div class="programa">
                    <div class="textDer">
                        <h2>Edad avanzada</h2>
                        <p><img src="{{ asset('svg/check.svg')}}" class="icon">Manténgase joven<br><img src="{{ asset('svg/check.svg')}}" class="icon">Previene problemas físicos<br><img src="{{ asset('svg/check.svg')}}" class="icon">Evita enfermedad mental<br></p>
                    </div>
                    <img src="http://lorempixel.com/350/170/sports/1" class="imgIzq">
                </div>
            </section>
        </div>
        <div class="col-lg-3 contenedor">
            <h2>Novedades</h2>
            {% for novedad in novedades %}
                <section class="novedad">
                    <img src="http://lorempixel.com/40/40/">
                    <h2>{{ novedad.fecha|date('\d F, Y')|replace({
                      'January'  : 'Enero',
                      'February'  : 'Febrero',
                      'March'  : 'Marzo',
                      'April'  : 'Abril',
                      'May'  : 'Mayo',
                      'June'  : 'Junio',
                      'July'  : 'Julio',
                      'August'  : 'Agosto',
                      'September'  : 'Septiembre',
                      'October'  : 'Octubre',
                      'November'  : 'Noviembre',
                      'December' : 'Diciembre'
                    }) }}</h2>
                    <p>{{ novedad.contenido }}</p>
                </section>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}